.Main-projects
{
	margin-top:100px;
}
.Main-projects-tab
{
	width:90%;margin:auto;
	 border-spacing: 40px;
}
.Mini-pro-sing{
	width:100%;
	text-align:center;
	border-spacing: 10px;
}
.Main-projects-tab table{
	border:1px solid grey ;
	margin-top:30px;
}
.Mini-pro-sing td{
	font-size:14px;
}
.img-proj-min
{
	height:200px;
	width:100%;
	filter: contrast(70%);
}
.img-proj-min:hover{
	filter:none;
}
.minprj-title h2
{
	padding:7px;
	 color: #ba336b;
	font-size: 20px;
    -webkit-text-stroke: 1px black;	
}
.Proj-min-introdu
{
	width:70%;
	margin: auto;
	margin-top:-40px;
	text-align:center;
	padding:10px;
	line-height:30px;
}
.miniprj-description p
{
	padding:10px;
	text-align:justify;
}
.Technologies-used p
{
	background-color:#fdecf3;
	border-bottom:1px solid gray;
	border-top:1px solid grey;
	padding:10px
}
.lianath-proj{
	 list-style-type: none;
	display:flex;
	justify-content: space-between;
}
.Mini-proj-btnss li{
	/* border-radius:4px; */
	padding:10px;
	width:50%;
	border:1px solid white;
}
.Mini-proj-btnss a{
	text-decoration:none;
	color:black;
	
}
.Mini-proj-btnss li:hover{
	background-color:whitesmoke;
	border:1px solid grey;
}