.Main-projects
{
	margin-top:60px;
	
}
.Main-projects-tab
{
	width:80%;margin:auto;
	 border-spacing: 20px;
}
.Mini-pro-sing{
	width:100%;
	text-align:center;
	border-spacing: 10px;
}
.Main-projects-tab table{
	border:1px solid grey ;
}
.Mini-pro-sing td{
	font-size:14px;
}
.img-proj-min
{
	height:200px;
	width:100%;
	padding:0px !important;
}
.minprj-title h2
{
	padding:7px;
	 color: #ba336b;
	font-size: 20px;
    -webkit-text-stroke: 1px black;
	
}
.miniprj-description p
{
	padding:8px;
	text-align:justify;
}
.Technologies-used p
{
	background-color:#fdecf3;
	border-bottom:1px solid gray;
	border-top:1px solid grey;
	padding:8px
}
.lianath-proj{
	 list-style-type: none;
	display:flex;
	justify-content: space-between;
}
.Mini-proj-btnss li{
	border-radius:4px;
	padding:10px;
	width:50%;
}
.Mini-proj-btnss a{
	text-decoration:none;
	color:black;
	
}
.Mini-proj-btnss li:hover{
	background-color:whitesmoke;
}